<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Simple Talking Calculator.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C34F088D000309660C8B2427EAF9CD1BB8D33ACF</string>
				<key>dateExpires</key>
				<string>29/08/2019</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B4Y8V9U543.com.TPBSoftware.SimpleTalkingCalculator</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>B4Y8V9U543</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>B4Y8V9U543.com.TPBSoftware.SimpleTalkingCalculator</string>
				</array>
			</dict>
			<key>name</key>
			<string>Simple Talking Calculator.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f2d907b5-b3a2-446f-b545-08cc2a8d256e</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: *</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B4Y8V9U543</string>
				<key>name</key>
				<string>TPB Software Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
